<section class="mx-10 px-10 border-t-2 py-2 flex flex-cols justify-between items-center">

<article class="ml-10">
<a href="{{path('app_main')}}">
<img src="{{asset('images/afpa_logo.jpg')}}" class="h-12" alt="logo afpa" loading="lazy">
</a>
</article>

<article class="flex flex-row gap-2">

<img src="{{asset('images/x.avif')}}" class="h-10" alt="logo afpa" loading="lazy">
<img src="{{asset('images/insta.png')}}" class="h-8" alt="logo afpa" loading="lazy">
</article>

<article>
    <img src="{{asset('images/Armee.jpg')}}" class="h-14" alt="logo afpa" loading="lazy">
</article>

<article>
     <ul>
        <li><a class="hover:text-[#0b9c9f]">Pôle</a></li>
        <li><a class="hover:text-[#0b9c9f]">Pôle</a></li>
        <li><a class="hover:text-[#0b9c9f]">Pôle</a></li>
    </ul>
</article>

</section>